/* media query for phone start*/
@media screen and (max-width: 576px) {
   .nav-item{
    display: none;
   }
   .menu-icon{
    display: block;
    color: #667485;
    }
    .navbar{
        justify-content: left;
        gap: 20px;
        padding: 30px;
    }
    .logo h1{
        font-size: 1.5rem;
    }
    .banner{
        flex-direction: column;
    }
    .banner-details h1{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .business-summery{
        max-width: 400px;
    }
    .card-container{
        flex-direction: column;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .card{
        width: 350px;
        margin: 0px auto;
    }
    .service-card-container{
        flex-direction: column;
    }
    .choice{
        margin-left: 20px;
        margin-right: 20px;
    }
    .service-card{
        margin-top: 0px;
        margin-bottom: 00px;
        padding: 20px;
    }
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    .about-form{
        padding: 10px;
    }
    .about-us-image{
        width: 70%;
    }
    .col-1 input, select{
       width: 175px;
    }
   
    
    textarea{
        width: 360px;
    }
   
}


/* media query for phone start*/

/* media query for tab start*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-item{
        display: none;
       }
       .menu-icon{
        display: block;
        color: #667485;
        }
        .navbar{
            justify-content: left;
            gap: 20px;
            padding: 30px;
        }
        .logo h1{
            font-size: 1.5rem;
        }
        .card-container{
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px;
        }
        .card-text{
            width: 50%;
        }
        .card-img img{
            width: 100%;
        }
        .card{
            width: 40%;   
        }
        .service-card-container{
            flex-wrap: wrap;
            justify-content: center;
        }
        .service-card{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .about-container{
            flex-direction: column;
            align-items: center;
        }
        .about-us-image{
            width: 70%;
        }

}

/* media query for tab end*/